appdirs
asgiref
astroid
autopep8
boto3
botocore
cachelib
certifi
chardet
click
colorama
cs50
distlib
Django
django-ckeditor
django-cors-headers
django-crispy-forms
django-filter
django-js-asset
django-storages
djangorestframework
djangorestframework-simplejwt
docutils
filelock
Flask
Flask-Session
gunicorn
idna
install
isort
itsdangerous
Jinja2
jmespath
lazy-object-proxy
MarkupSafe
mccabe
Pillow
pycodestyle
PyJWT
pylint
python-dateutil
python-dotenv
pytz
requests
s3transfer
six
SQLAlchemy
sqlparse
termcolor
toml
urllib3
virtualenv
Werkzeug
whitenoise
wrapt
